<template name="nav">

    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">Walk</h3>
            <ul class="nav masthead-nav">
                <li class><a href="/">Home</a>
                </li>
                <li class>
                    <a href="/findwalk">Find a walk</a>
                </li>
                <li class>
                    <a href="/postwalk">Post a walk</a>
                </li>

                <li>{{> loginButtons}}
                </li>
            </ul>
        </div>
    </div>


</template>
